# OpenAI Configuration
GEMINI_API_KEY="AIzaSyBvkNR_ZW0s2lISWzlGsePmTJNuGGUsTHU"

# Qdrant Configuration
QDRANT_URL= "https://1c8b71c7-3495-484e-91c6-dfd14721cb76.europe-west3-0.gcp.cloud.qdrant.io:6333"
QDRANT_API_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.6VMO-_69POcyRfZfyeRD-fTQdWmXpctdA8sNY5HSOLY"
QDRANT_HOST=localhost # If using local instance
QDRANT_PORT=6333

# Neon Postgres Configuration
NEON_DATABASE_URL= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.6VMO-_69POcyRfZfyeRD-fTQdWmXpctdA8sNY5HSOLY

# Application Configuration
LOG_LEVEL=INFO


